/**
 * Front Page
 * 
 * @package btp-wordpress
 */

@use "../abstracts" as *;

.hero-home {
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    // For image backgrounds
    background-size: cover;
    background-position: 75% 50%;
    background-repeat: no-repeat;

    // For video backgrounds
    .hero-background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: 0;
    }
    
    // Container for content
    .container {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $hero-gradient-overlay;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -62px;
        width: 100%;
        height: 62px;
        background: $color-white;
        transform-origin: top left;
        transform: skewY(-2deg);
    }

    @media #{$tablet} {
        background-position: 75% 50%;
        padding: 130px 0;
    }

    @media #{$desktop} {
        background-position: center;
        padding: 227px 0;
    }

    h1, em {
        position: relative;
        z-index: 1;
    }

    h1 {
        color: $color-white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 12px 0 8px;
        margin-bottom: 10px;
    }

    em {
        display: block;
        color: $color-white;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 15px;

        @media #{$mobile-lg} {
            font-size: 22px;
            line-height: 28px;
        }

        @media #{$tablet} {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

.main-content {
    padding: 50px 0;

    @media #{$tablet} {
        padding: 65px 0;
    }

    &.bg-gray-transparent {
        background-color: $color-gray-light-transparent;
    }
}