/**
 * Footer
 * 
 * @package btp-wordpress
 */

@use "../abstracts" as *;

footer {

    .footer-bottom {
        background-color: $color-gray-dark;
        color: $color-white;
        position: relative;
        padding: 17px 0;

        .footer-copyright {

            p {
                color: $color-white;
                font-family: $font-primary;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .footer-nav {
            padding: 0;

            @media #{$desktop-lg} {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            ul.footer-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                //flex-direction: column;
                flex-direction: row; // since we only have 2 items
                margin-bottom: 0;
                padding-left: 0;

                @media #{$tablet} {
                    //flex-direction: row;
                    justify-content: flex-end;
                }

                li {
                    display: inline-block;
                    padding: 0 10px 0 8px;
                    position: relative;

                    &:after {
                        content: '|';
                        position: absolute;
                        right: 0;
                        top: 0;                       
                    }   

                    &:last-child {
                        padding-right: 0;

                        &:after {
                            content: '';
                        }
                    }                    

                    a {
                        font-family: $font-primary;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: right;                        
                        padding: 0;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                }

            }

        }

    }   

}